.main-pic{
  
}

.main-baby-pic{
  background-image: image-url('_baby.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 80vh;
  margin: 150px auto 0;
}

.description{
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: yellow;
}

.pics-introduction{
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: yellowgreen;

  .pic-contents{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
      font-size: 50px;
      text-align: center;
    }

    .pic-lists{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li{
        list-style: none;
      }

      .list{
        width: 350px;
        height: 50vh;
        margin: 20px;
        background-color: yellow;
        display: flex;
        align-items: center;
        flex-direction: column;


        .pic-img-content{
          
        }

        .pic-img{
          width: 300px;
          height: 25vh;
          margin: 10px;
          background-color: white;
        }

        .pic-info{
          .pic-title p{
            font-size: 15px;
          }

          .pic-text{

            .text-box{
              width: 300px;
              height: 10vh;
              padding: 5px;
              margin: 5px;
              background-color: white;
            }

          }
        }

      }
    }
  }
}

