.main-baby-pic{
  background-image: image-url('_baby.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 80vh;
  margin: 150px auto 0;
}

.description{
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: yellow;
}


