.main-pic{
  
}

.main-baby-pic{
  background-image: image-url('_baby.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 80vh;
  margin: 150px auto 0;
}

.description{
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: yellow;
}

.pics-introduction{
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: yellowgreen;

  .pic-contents{

    .title{
      font-size: 50px;
      text-align: center;
    }

    .pic-lists{
      display: flex;
      justify-content: space-around;
      align-items: center;

      li{
        list-style: none;
      }

      .list{
        width: 30%;
        height: 30%;
        margin: 20px;
        background-color: yellow;

        .pic-img-content{
          display: flex;
          justify-content: center;
        }

        .pic-img{
          width: 90%;
          height: 80%;
          margin: 10px;
          background-color: white;
        }

        .pic-info{
          .pic-title{
          }

          .pic-text{

            .text-box{
              padding: 5px;
              margin: 10px;
              background-color: white;
            }

          }
        }

      }
    }
  }
}

