.advise-wrapper{

  .advise-main-upper{
    padding-top: 200px;
  }
.advise-main-content{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .advise-contribution{
    width: 100%;
    
  .new-advise-btn{
      display: flex;
      justify-content: center;
      margin-top: 50px;

    .advise_link{
      background-color: rgb(80, 165, 80); 
    }
  }

  }

  /* advise/index, show に使用*/
  .advise-lists{
    border: 8px solid rgb(157, 157, 157);
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 0;
    
    .advise-text{
      margin: 20px 0;

      .advise2_link{
        color: black;
      }
    }
  }
  
}
}