.album-intro{
  padding-top: 100px;
}

.new-album-btn{
  border: rgb(5, 2, 2) solid 1px;
  padding: 10px;
  background-color: rgb(73, 146, 223);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 5px 10px 1px #000000;
}