/*adviseのnewにも使用しています。*/

.album-registrations-wrapper{
    background-image: url("sweet.jpg");

  .album-main-content{
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;

    .album-content-box{
      
    }
  }

}