.album-each-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .each-lists{
    padding: 0;
    .eachlist{
      list-style: none;
      text-align: center;

      .each-img{
        width: 60vw;
        height: 60vh;
      }
  
    }
  }

  // いいね機能部分
ul.like-content {
  padding-left: 0;
  list-style: none;
  
  .like-link {
    text-decoration: none;
    color: gray;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 50px;
    padding: 5px;
  
    
    .like-part2 {
      color: rgb(255, 60, 93);
    }
  }
}

}

.like-link:hover {
  background: rgb(245, 245, 245);
}


@media (max-width: 600px) {
  .album-each-content {
    .each-lists {
      .eachlist {
        .each-img {
          width: 90vw;
          height: 40vh;
        }
      }
    }
  }
}

