.album-each-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .each-lists{
    padding: 0;
    .eachlist{
      list-style: none;
      text-align: center;

      .each-img{
        width: 60vw;
        height: 60vh;
      }
  
    }
  }

}

@media (max-width: 600px) {
  .album-each-content {
    .each-lists {
      .eachlist {
        .each-img {
          width: 90vw;
          height: 40vh;
        }
      }
    }
  }
}
