<div class="wrapper">

  <%= render "shared/second_header" %>

  <div class="advise-show-content">
    <ul class="advise-lists">
      <li class="adviselist">
        <div class="advise-title">
          <%= @advise.title %>
        </div>
        <div class="advise-text">
          <%= @advise.text %>
        </div>
      </li>
    </ul>
  </div>

  <%= render "shared/second_footer" %>

</div>