<div class="advise-wrapper">

  <%= render "shared/second_header" %>

  <div class="advise-main-content advise-show">

  <div class="advise-title">
          <%= @advise.title %>
        </div>
        <div class="advise-text">
          <%= @advise.text %>
        </div>

    <div class="advise-lists">
      <div class="adviselist">
        
      </div>
    </div>
  </div>

  <%= render "shared/second_footer" %>

</div>