.btn{
  border: rgb(5, 2, 2) solid px;
      box-shadow: 2px 5px 10px 1px #000000;
      padding: 10px 100px;
      margin-bottom: 50px;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      font-weight: bold;
}

@media (max-width: 600px) {
  .btn {
    padding: 10px 50px;
  }
}