.second-header{
  width: 100%;
  background-color: burlywood;
  padding-top: 5px;
  .second-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }
}