<div class="wrapper">

  <%= render "shared/header" %>

  <div class="main-pic">
    <div class="main-baby-pic">

    </div>
  </div>
  <div class="description">
    アプリ説明
  </div>

  <div class="pics-introduction">
    <div class="pic-contents">
      <h2 class="title">新規投稿作品</h2>
      <ul class="pic-lists">
        <%#= "each" %>
          <li class="list">
            <%#= link_to "#" do %>
              <div class="pic-img-content">
                <%#= image_tag "#", class: "pic-img" #if pic.image.attached?# %>
              </div>
              <div class="pic-info">
                <div class="pic-title">
                  <p>日付</p>
                  <h3>題名</h3>
                </div>
                <div class="pic-text">
                  <div class="text-box">
                    <p>text</p>
                  </div>
                </div>
              </div>
            <%#= end %>
          </li>
        <%#= end %>
        
        <li class="list">
          <div class="pic-img-content">
            <%= image_tag "camera_baby_mother.png", class: "pic-img" %>
          </div>
          <div class="pic-info">
            <div class="pic-title">
              <p>日にち</p>
              <h3>写真を投稿してね！</h3>
            </div>
            <div class="pic-text">
              <div class="text-box">
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <%= render "shared/footer" %>

</div>