<div class="wrapper">

  <%= render "shared/header" %>

  <div class="main-pic">
    <div class="main-baby-pic">

    </div>
  </div>
  <div class="description">
    アプリ説明
  </div>

  <!--写真欄-->
  <div class="pics-introduction">
    <div class="pic-contents">
      <h2 class="title">新規投稿作品</h2>
    
  
      <%= render "shared/bulletin_form" %>
    </div>
  </div>

    <%= render "shared/footer" %>
  
</div>