<div class="album-registrations-wrapper">

  <%= render "shared/second_header" %>

  <div class="album-main-content">

    <div class="album-registrations-title">
      <h2>写真を編集する</h2>
    </div>

    <%= render "shared/album_form" %>

  </div>

  <%= render "shared/second_footer" %>
</div>