<div class="album-wrapper">

  <%= render "shared/header" %>

  <!--写真欄-->
  <div class="pics-introduction album-intro">
    <div class="pic-contents">
      <h2 class="title">マイアルバム</h2>

      <div class="new-contribution">
        <div class="new-album-btn">
          新しい写真を投稿する
        </div>
      </div>

      <ul class="pic-lists">
        <%#= "each" %>
          <li class="list">
            <%#= link_to "#" do %>
              <div class="pic-img-content">
                <%#= image_tag "#", class: "pic-img" #if pic.image.attached?# %>
              </div>
              <div class="pic-info">
                <div class="pic-title">
                  <p>日付</p>
                  <h3>題名</h3>
                </div>
                <div class="pic-text">
                  <div class="text-box">
                    <p>text</p>
                  </div>
                </div>
              </div>
            <%#= end %>
          </li>
        <%#= end %>
        
        <li class="list">
          <div class="pic-img-content">
            <%= image_tag "camera_baby_mother.png", class: "pic-img" %>
          </div>
          <div class="pic-info">
            <div class="pic-title">
              <p>2021-01-04 07:22:44</p>
              <b>写真を投稿してね！</b>
            </div>
            <div class="pic-text">
              <div class="text-box">
                <p>テキストテキスト</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <%= render "shared/footer" %>

</div>