<div class="album-registrations-wrapper">

  <%= render "shared/second_header" %>

  <!--新規投稿ページ-->
  <div class="album-main-content">
    <div class="album-content-box">
      <div class="album-registrations-title">
        <h2 class="title">写真を投稿する</h2>
      </div>

      <%= render "shared/album_form" %>
    </div>
  </div>

  <%= render "shared/second_footer" %>
</div>